@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Mozilla+Text:wght@200..700&display=swap');
:root{
 --branco:white;
 --cor-de-fundo:#efb810;
 --fundo-senha:#f4c63c;
 --fundo-texto:#f4c63c;
 --borda:#daa520;
 --fonte-principal:'Montserrat:ital';
}
body{
    background-color: var(--cor-de-fundo);
    color: var(--branco);
}
.conteudo-titulo{
    text-align: center;
}
*{
    font-weight: 400;
}